## Imports

In [2]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime
np.set_printoptions(threshold=np.inf)

In [3]:
df = pd.read_csv('blight_violations.csv')

/var/folders/5q/f280wjd15s56_y9s5ntbx3rw0000gn/T/ipykernel_2872/1277315867.py:1: DtypeWarning: Columns (7,9,13,14,15,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('blight_violations.csv')

In [4]:
df.head()

,ticket_id,ticket_number,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,violator_id,mailing_address_str_number,mailing_address_str_name,city,state,zip_code,non_us_str_code,country,violation_date,ticket_issued_time,hearing_date,hearing_time,judgment_date,violation_code,violation_description,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,violation_address,parcelno,geom,oid
0,100000,06022781DAH,Detroit Police Department,Lawrence Purifoy,jason murar,5912,KENSINGTON,NaN,60857,5912,kensington,detroit,MI,48224,NaN,NaN,2006-11-06 00:00:00,1900-01-01 11:00:00,2006-11-22 00:00:00,1:30PM,2006-11-22 15:28:47,22-2-45,Violation of time limit for approved container...,Not responsible by Dismissal,100.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NO PAYMENT DUE,NaN,5912 KENSINGTON,21072850.,0101000020E61000007777443C1FBC54C01A48CD359B34...,100000
1,100001,06036352DAH,"Buildings, Safety Engineering & Env Department",John Devaney,HORN MACHINERY CO.,2981,CHARLEVOIX,NaN,74178,425,PO BOX,ROSEVILLE,MI,48066,NaN,NaN,2006-11-08 00:00:00,1900-01-01 08:10:00,2006-11-30 00:00:00,9:00AM,2006-11-30 10:23:59,9-1-36(a),Failure of owner to obtain certificate of comp...,Responsible by Default,250.0,20.0,10.0,0.0,0.0,NaN,280.0,NaN,280.0,NaN,NaN,NaN,2981 CHARLEVOIX,11001212-25,0101000020E6100000E0E4BC8EC7C154C0A76994CC4C2D...,100001
2,100002,06036353DAH,"Buildings, Safety Engineering & Env Department",John Devaney,UNITED TEMPLE OF FAITH,9103,CHRYSLER,NaN,74179,9103,CHRYSLER DRIVE,DETROIT,MI,48211,NaN,NaN,2006-11-08 00:00:00,1900-01-01 08:20:00,2006-11-30 00:00:00,9:00AM,2006-11-30 00:00:00,9-1-36(a),Failure of owner to obtain certificate of comp...,Responsible by Admission,250.0,20.0,10.0,0.0,0.0,NaN,280.0,NaN,280.0,2007-02-16 11:04:00,PAID IN FULL,NaN,9103 CHRYSLER,05004040.,0101000020E6100000934B3E7D72C454C04F6C8FCA9831...,100002
3,100003,06041952DAH,"Buildings, Safety Engineering & Env Department",Anthony Sharpe,MELISSA QUADAY,6433,ST MARYS,NaN,78276,4108,HARDING,DEARBORN,MI,48126,NaN,NaN,2006-11-08 00:00:00,1900-01-01 08:25:00,2006-12-13 00:00:00,3:00PM,2006-12-13 15:23:18,9-1-36(a),Failure of owner to obtain certificate of comp...,Responsible by Default,250.0,20.0,10.0,0.0,0.0,NaN,280.0,NaN,280.0,NaN,NaN,NaN,6433 ST MARYS,22059515.,0101000020E6100000F63FEACF08CD54C089C17B8A4B2B...,100003
4,100004,06036354DAH,"Buildings, Safety Engineering & Env Department",John Devaney,GARY EDWARDS,4232,MANISTIQUE,NaN,74180,4232,MANISTIQUE,DETROIT,MI,48215,NaN,NaN,2006-11-08 00:00:00,1900-01-01 08:30:00,2006-11-30 00:00:00,9:00AM,2019-09-16 10:26:00,9-1-36(a),Failure of owner to obtain certificate of comp...,Not responsible by City Dismissal,250.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NO PAYMENT DUE,NaN,4232 MANISTIQUE,21061193.,0101000020E61000001ECFF746F2BC54C0F983C2621232...,100004

## First Check

In [5]:
df.describe()

,ticket_id,violation_street_number,violator_id,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,oid
count,629962.000000,6.299620e+05,629962.000000,629960.000000,629962.000000,629962.000000,629956.000000,629959.000000,12927.000000,629962.000000,377831.000000,629962.000000,629962.000000
mean,350946.298708,1.302488e+04,320132.530964,338.866034,12.378715,6.189357,4.953369,1.267639,319.933211,219.953084,115.567718,149.200280,350946.298708
std,189860.636273,1.291796e+06,186314.336167,526.847108,9.712974,4.856487,20.368537,9.044429,914.280577,414.239868,276.584447,373.172859,189860.636273
min,18645.000000,-1.512600e+04,1.000000,1.000000,0.000000,0.000000,-1.000000,0.000000,1.000000,-20.000000,-392.000000,-3880.000000,18645.000000
25%,187400.250000,5.132000e+03,158452.250000,100.000000,0.000000,0.000000,0.000000,0.000000,60.000000,0.000000,0.000000,0.000000,187400.250000
50%,352053.500000,1.117000e+04,318514.500000,250.000000,20.000000,10.000000,0.000000,0.000000,120.000000,130.000000,0.000000,0.000000,352053.500000
75%,515387.750000,1.626100e+04,481841.750000,250.000000,20.000000,10.000000,0.000000,0.000000,280.000000,280.000000,140.000000,255.000000,515387.750000
max,677342.000000,1.000000e+09,643791.000000,10000.000000,20.000000,10.000000,1000.000000,1000.000000,26682.900000,23977.700000,13342.000000,23977.700000,677342.000000

In [6]:
df.corr(numeric_only=True)

,ticket_id,violation_street_number,violator_id,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,oid
ticket_id,1.000000,0.000058,0.999726,-0.051041,0.252432,0.252432,0.018712,0.027979,-0.101267,0.090934,0.149403,0.063917,1.000000
violation_street_number,0.000058,1.000000,0.000039,-0.000820,-0.001756,-0.001756,-0.000358,-0.000313,-0.085347,-0.000817,-0.000819,-0.000603,0.000058
violator_id,0.999726,0.000039,1.000000,-0.051087,0.253346,0.253346,0.018024,0.028135,-0.101259,0.091265,0.149066,0.064896,0.999726
fine_amount,-0.051041,-0.000820,-0.051087,1.000000,-0.067801,-0.067801,0.252975,0.080834,0.018135,0.539242,0.248819,0.472710,-0.051041
admin_fee,0.252432,-0.001756,0.253346,-0.067801,1.000000,1.000000,0.178259,0.060770,-0.042415,0.416634,0.551544,0.313716,0.252432
state_fee,0.252432,-0.001756,0.253346,-0.067801,1.000000,1.000000,0.178259,0.060770,-0.042415,0.416634,0.551544,0.313716,0.252432
late_fee,0.018712,-0.000358,0.018024,0.252975,0.178259,0.178259,1.000000,-0.027531,-0.012025,0.449387,0.798225,0.029993,0.018712
discount_amount,0.027979,-0.000313,0.028135,0.080834,0.060770,0.060770,-0.027531,1.000000,-0.008641,0.085638,0.186363,-0.014178,0.027979
clean_up_cost,-0.101267,-0.085347,-0.101259,0.018135,-0.042415,-0.042415,-0.012025,-0.008641,1.000000,0.772829,0.303726,0.715174,-0.101267
judgment_amount,0.090934,-0.000817,0.091265,0.539242,0.416634,0.416634,0.449387,0.085638,0.772829,1.000000,0.901316,0.842716,0.090934
payment_amount,0.149403,-0.000819,0.149066,0.248819,0.551544,0.551544,0.798225,0.186363,0.303726,0.901316,1.000000,0.049046,0.149403
balance_due,0.063917,-0.000603,0.064896,0.472710,0.313716,0.313716,0.029993,-0.014178,0.715174,0.842716,0.049046,1.000000,0.063917
oid,1.000000,0.000058,0.999726,-0.051041,0.252432,0.252432,0.018712,0.027979,-0.101267,0.090934,0.149403,0.063917,1.000000

## Process

### Null values

In [7]:
df.isnull().sum()

ticket_id                          0
ticket_number                      0
agency_name                        0
inspector_name                     0
violator_name                      2
violation_street_number            0
violation_street_name             65
violation_zip_code            358191
violator_id                        0
mailing_address_str_number         9
mailing_address_str_name          53
city                            4347
state                           4810
zip_code                        4350
non_us_str_code               625612
country                       625601
violation_date                     0
ticket_issued_time                 0
hearing_date                       1
hearing_time                      13
judgment_date                  12309
violation_code                     2
violation_description              2
disposition                        0
fine_amount                        2
admin_fee                          0
state_fee                          0
late_fee                           6
discount_amount                    3
clean_up_cost                 617035
judgment_amount                    0
payment_amount                252131
balance_due                        0
payment_date                  467381
payment_status                236412
collection_status             519202
violation_address                  0
parcelno                       71723
geom                           71323
oid                                0
dtype: int64

We keep only the columns that respect the following conditions:

- Not too many null values
- Not disclosing any confidential or personal information
- Useful for the analysis and not too specific in order to avoid overfitting

In [8]:
to_keep= ['agency_name','violation_street_name'
          ,'state','violation_date','hearing_date','hearing_time',
         'judgment_date','violation_description','disposition',
         'fine_amount','admin_fee','state_fee','late_fee','discount_amount',
          'judgment_amount','balance_due','payment_status']

In [9]:
df = df[to_keep]

In [10]:
df.dtypes

agency_name               object
violation_street_name     object
state                     object
violation_date            object
hearing_date              object
hearing_time              object
judgment_date             object
violation_description     object
disposition               object
fine_amount              float64
admin_fee                float64
state_fee                float64
late_fee                 float64
discount_amount          float64
judgment_amount          float64
balance_due              float64
payment_status            object
dtype: object

In [11]:
df.isnull().sum()

agency_name                   0
violation_street_name        65
state                      4810
violation_date                0
hearing_date                  1
hearing_time                 13
judgment_date             12309
violation_description         2
disposition                   0
fine_amount                   2
admin_fee                     0
state_fee                     0
late_fee                      6
discount_amount               3
judgment_amount               0
balance_due                   0
payment_status           236412
dtype: int64

## Create categories for the violations

In [12]:
mapping_violation_cat = {
    "fugitive" : "Escape",
    "waste" : "Public Nuisance",
    "Open Storage/ Non-residential" : "Public Nuisance",
    "unlawful storage(Non-RESIDENTIAL)" : "Public Nuisance",
    "Improper placement" : "Public Nuisance",
    "Open Storage/ Residential/ Debris (R1)" : "Nuisance linked to Residential Space",
    "unlawful storage(RESIDENTIAL)" : "Nuisance linked to Residential Space",
    "placement of Courville Containers" : "Nuisance linked to Residential Space",
    "'Open Storage/ Residential" : "Nuisance linked to Residential Space",
    "failure to obtain" : "No Certificate",
    "failure to obtain" : "No Certificate",
    "Failed to secure" : "No Certificate",
    "failure of owner to obtain" : "No Certificate",
    "Failure to furnish a written" : "No Certificate",
    "Faillure to obtain a certificate" : "No Certificate",
    "Occupancy without certificate" : "No Certificate",
    "Violation of time limit for approved containers to remain at curbside" : "No Certificate",
    "without a Permit" : "No Certificate",
    "depositing bulk solid" : "Public Nuisance",
    "Unlawful storage" : "Public Nuisance",
    "Banner" : "Public Nuisance",
    "Business signs located" : "Public Nuisance",
    "Advertising signs located" : "Public Nuisance",
    "improperly stored" : "Public Nuisance",
    "Failure to remove unlawful signage" : "Public Nuisance",
    "Rodent harborage one-or two-family dwelling or commercial building" : "Public Nuisance",
    "Defective" : "Defective part on a building",
    "Failure to maintain a vacant building" : "Building maintenance failure",
    "Failure to abate unsafe condition for Building" : "Building maintenance failure",
    "Failure to maintain" : "Building maintenance failure",
    "Contaminated" : "Sanitary Defect",
    "unsanitary" : "Sanitary Defect",
    "grafitti" : "Vandalism",
    "Unlawful  rental of property" : "Unlawful rental",
    "Unlawful  rental" : "Unlawful rental",
    "Unlawful occupation of rental property without lead clearance" : "Unlawful rental",
    "excrement" : "Public Nuisance",
    "Other Non-Compliance with Land Use" : "Non-Compliance with Land Use",
    "weeds" : "Drugs"
}

In [13]:
def map_violation_category(description, mapping):
    for key, category in mapping.items():
        if key.lower() in description.lower():
            return category
    return "Other"

If the violation description contains one of the expressions mentionned in the mapping table, this expression should be replaced accordingly.

In [14]:
df['violation_category'] = df['violation_description'].astype(str).apply(lambda x: map_violation_category(x, mapping_violation_cat))

In [15]:
df['violation_category'].value_counts()

violation_category
No Certificate                          277635
Public Nuisance                         156547
Drugs                                    76733
Other                                    44363
Unlawful rental                          31881
Building maintenance failure             22424
Sanitary Defect                          12438
Defective part on a building              6440
Vandalism                                  876
Nuisance linked to Residential Space       471
Non-Compliance with Land Use               151
Escape                                       3
Name: count, dtype: int64

### Merge the less represented violations into Other

In order to have categories with sufficient numbers of occurrences, we cluster all the categories less present than Other in the Other category.

In [16]:
def convert_to_other(row):
    categories = ["No Certificate", "Public Nuisance", "Drugs"]
    
    if row['violation_category'] not in categories:
        return "Other"
    else:
        return row['violation_category']

In [17]:
df['violation_category'] = df.apply(convert_to_other, axis=1)

We keep only the 2 most representated violations categories. 
We consider all the other ones do not count sufficient number of occurences. 

Having only 2 categories will allow to generalize better.

In [18]:
df['violation_category'].value_counts()

violation_category
No Certificate     277635
Public Nuisance    156547
Other              119047
Drugs               76733
Name: count, dtype: int64

## Keep only the Responsibles

All the people who are convinced of non-responsibility do not have to pay. 
Keeping them would be useless, because they don't have to pay anything.

We should only keep the responsibles for our model to be able to predict the causes of non-payment from people who have to pay.

In [19]:
unique_values = pd.Series(df['disposition']).unique()

In [20]:
unique_values

array(['Not responsible by Dismissal', 'Responsible by Default',
       'Responsible by Admission', 'Not responsible by City Dismissal',
       'Responsible by Determination', 'by',
       'Not responsible by Determination', 'PENDING',
       'Responsible (Fine Waived) by Determination',
       'Responsible (Fine Waived) by Admission',
       'Responsible - Compl/Adj by Default',
       'Responsible - Compl/Adj by Determination',
       'Responsible by Dismissal',
       'Responsible (Fine Waived) by City Dismissal', 'Responsible by',
       'by Default', 'Responsible by Responsible (Fine Waived)',
       'Not responsible by', 'by Determination'], dtype=object)

In [21]:
responsible = ['Responsible (Fine Waived) by Admission',
               'Responsible (Fine Waived) by City Dismissal',
               'Responsible (Fine Waived) by Determination',
               'Responsible - Compl/Adj by Default',
               'Responsible - Compl/Adj by Determination',
               'Responsible by',
               'Responsible by Admission',
               'Responsible by Default',
               'Responsible by Determination',
               'Responsible by Dismissal',
               'Responsible by Responsible (Fine Waived)']

In [22]:
df = df[df['disposition'].isin(responsible)]

## Change data types

In [23]:
df.dtypes

agency_name               object
violation_street_name     object
state                     object
violation_date            object
hearing_date              object
hearing_time              object
judgment_date             object
violation_description     object
disposition               object
fine_amount              float64
admin_fee                float64
state_fee                float64
late_fee                 float64
discount_amount          float64
judgment_amount          float64
balance_due              float64
payment_status            object
violation_category        object
dtype: object

### Violation Date into Datetime format

In [24]:
df['violation_date'] = pd.to_datetime(df['violation_date'], format="%Y-%m-%d %H:%M:%S", errors='coerce')

### Hearing Date into Datetime format

In [25]:
df['hearing_date'] = pd.to_datetime(df['hearing_date'], format="%Y-%m-%d %H:%M:%S", errors='coerce')

### Hearing Time into Timedelta format

In [26]:
df['hearing_time'] = pd.to_timedelta(df['hearing_time'], errors='coerce')

### Judgment Date into Datetime format

In [27]:
df['judgment_date'] = pd.to_datetime(df['judgment_date'], format="%Y-%m-%d %H:%M:%S", errors='coerce')

## Outliers

In [28]:
def min_date(column):
    return df[column].min()

In [29]:
def max_date(column):
    return df[column].max()

In [30]:
def print_dates(L):
    for element in L:  # 'element' est une chaîne de caractères correspondant à un nom de colonne
        minimum = min_date(element)
        maximum = max_date(element)
        print(f"The oldest date for {element} is {minimum}")
        print(f"The most recent date for {element} is {maximum}")

L = ["violation_date", "hearing_date", "judgment_date"]
print_dates(L)

The oldest date for violation_date is 1988-05-06 00:00:00
The most recent date for violation_date is 2109-03-19 00:00:00
The oldest date for hearing_date is 2005-02-07 00:00:00
The most recent date for hearing_date is 2023-03-29 00:00:00
The oldest date for judgment_date is 2005-01-27 00:00:00
The most recent date for judgment_date is 2023-01-31 09:48:06

In [31]:
df = df[df["violation_date"].dt.year<=2023]

## Get the Gap between Hearing Date and Judgment Date

In [32]:
# Check the timedelta between the hearing and judgment date
def is_judgement_later(row):
    row['judgment_date'] = pd.to_datetime(row['judgment_date'], format='mixed', errors='coerce')
    row['hearing_date'] = pd.to_datetime(row['hearing_date'], format='mixed', errors='coerce')
    
    if pd.isnull(row['judgment_date']) or pd.isnull(row['hearing_date']):
        return 0
    
    if row['judgment_date'] <= row['hearing_date']:
        return 0
    elif row['judgment_date'].month == row['hearing_date'].month:
        return 1
    elif row['judgment_date'].year == row['hearing_date'].year:
        return 2
    else:
        return 3

In [33]:
# Create a new column to see if the judgment date is later than the hearing date
df['is_judgment_later'] = df.apply(is_judgement_later, axis=1)

## Remove Useless Spaces

In [34]:
df['violation_street_name'] = df['violation_street_name'].str.strip()

## Capitalize Locations

In [35]:
df['violation_street_name'] = df['violation_street_name'].str.capitalize()

In [36]:
df['state'] = df['state'].str.capitalize()

## Remove violation_description column

We do not the violation description, now we have the violation category.

This column would be too hard to translate into categories.

In [37]:
df.drop(columns=['violation_description'], inplace=True)

In [38]:
df.head()

,agency_name,violation_street_name,state,violation_date,hearing_date,hearing_time,judgment_date,disposition,fine_amount,admin_fee,state_fee,late_fee,discount_amount,judgment_amount,balance_due,payment_status,violation_category,is_judgment_later
1,"Buildings, Safety Engineering & Env Department",Charlevoix,Mi,2006-11-08,2006-11-30,NaT,2006-11-30 10:23:59,Responsible by Default,250.0,20.0,10.0,0.0,0.0,280.0,280.0,NaN,No Certificate,1
2,"Buildings, Safety Engineering & Env Department",Chrysler,Mi,2006-11-08,2006-11-30,NaT,2006-11-30 00:00:00,Responsible by Admission,250.0,20.0,10.0,0.0,0.0,280.0,280.0,PAID IN FULL,No Certificate,0
3,"Buildings, Safety Engineering & Env Department",St marys,Mi,2006-11-08,2006-12-13,NaT,2006-12-13 15:23:18,Responsible by Default,250.0,20.0,10.0,0.0,0.0,280.0,280.0,NaN,No Certificate,1
6,"Buildings, Safety Engineering & Env Department",Warren,Mi,2006-11-08,2006-11-30,NaT,2006-11-30 10:23:03,Responsible by Default,250.0,20.0,10.0,0.0,0.0,280.0,280.0,NaN,No Certificate,1
9,"Buildings, Safety Engineering & Env Department",Oakland,Mi,2006-11-08,2006-11-30,NaT,2006-11-30 10:26:26,Responsible by Default,250.0,20.0,10.0,0.0,0.0,280.0,280.0,NaN,No Certificate,1